html {
    background-image: url("background.jpg");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body {
    display: block;
    height: 95vh;
    margin: 3vh;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(1px);
    border: 2px solid #ccc;
    overflow: hidden;
}

.scrollable-content {
    height: calc(100% - 20px);
    overflow-y: auto;
}

header {
    display: block;
    position: fixed;
    width: 96%;
    z-index: 1000;
    height: 4%;
    border-bottom: 2px solid #ccc;
    background-color: rgba(255, 255, 255);
    padding: 1% 2%;
}

header img {
    height: 80%;
    width: fit-content;
}

header h1 {
    padding-top: 1vh;
    font-size: 24px;
    margin: 0;
}

header img,
header h1 {
    float: left;
}

header .right,
header .left {
    display: block;
    height: 100%;
    width: fit-content;
    background-color: transparent;
    border: none;
}

header .right {
    float: right;
    margin-left: 3%;
    transition: background-color 0.3s;
    border-radius: 5px;
}

header .right:hover {
    background-color: rgba(204, 204, 204, 0.5);
}

header .right:active {
    background-color: rgba(204, 204, 204, 1);
}

header .left {
    float: left;
}

header button:first-child {
    margin-right: 10px;
}

.bodyDiv {
    display: block;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    background-color: transparent;
    padding: 5% 10%;
    margin-top: 2vh;
}

.half {
    display: block;
    width: calc(50%);
    float: left;
    padding: 0 2%;
    box-sizing: border-box;
}

.half input {
    display: block;
    width: 90%;
    margin: auto;
    padding: 2%;
    margin-bottom: 2%;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.user button[type="submit"] {
    width: 50%;
    height: 100%;
    margin: auto;
    margin-left: auto;
    border: 2px solid gray;
}

.removeFriend {
    background-color: rgba(255, 89, 100, 0.9);
}

.removeFriend:hover {
    background-color: rgba(255, 89, 100, 1);
}

.messageFriend {
    background-color: rgba(53, 167, 255, 0.9);
}

.messageFriend:hover {
    background-color: rgba(53, 167, 255, 1);
}

.sfr {
    background-color: rgba(12, 116, 137, 0.9);
}

.sfr:hover {
    background-color: rgba(12, 116, 137, 1);
}

.afr {
    background-color: rgba(125, 209, 129, 0.9);
}

.afr:hover {
    background-color: rgba(125, 209, 129, 1);
}

.rfr {
    background-color: rgba(255, 89, 100, 0.9);
}

.rfr:hover {
    background-color: rgba(255, 89, 100, 1);
}

.removeFriend,
.messageFriend {
    border-radius: 3px;
    padding: 1.5%;
    color: white;
}

.sfr,
.afr,
.rfr {
    border-radius: 3px;
    padding: 1%;
    color: white;
}

.user form p,
.user form button {
    display: inline-block;
}

.friendOptions {
    display: inline-block;
    width: 50%;
    margin-bottom: 1%;
}

.friendOptions button[type="submit"],
.SearchFor button[type="submit"] {
    width: 90%;
    margin-top: 2%;
}

.user {
    display: block;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 2%;
}

.user p {
    display: inline-block;
    width: 40%;
    height: 100%;
    padding-left: 4%;
}

.friendName {
    padding-top: 2%;
    display: flex;
    align-items: center;
    float: left;
}