html {
    background-image: url("background.jpg");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

* {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    display: block;
    height: 95vh;
    margin: 3vh;
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(1px);
    border: 2px solid #ccc;
    overflow: hidden;
}

.scrollable-content {
    height: calc(100% - 20px);
    overflow-y: auto;
}

header img {
    height: 80%;
    width: fit-content;
}

header h1 {
    padding-top: 0.25vh;
    font-size: 24px;
    margin: 0;
}

header img,
header h1 {
    float: left;
}

header .right,
header .left {
    display: block;
    height: 100%;
    width: fit-content;
    background-color: transparent;
    border: none;
}

header .right {
    float: right;
    margin-left: 3%;
    transition: background-color 0.3s;
    border-radius: 5px;
}

header .right:hover {
    background-color: rgba(204, 204, 204, 0.5);
}

header .right:active {
    background-color: rgba(204, 204, 204, 1);
}

header .left {
    float: left;
}

header button:first-child {
    margin-right: 10px;
}

.bodyDiv {
    display: block;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    background-color: transparent;
    padding: 5% 10%;
    margin-top: 2vh;
}

header {
    display: block;
    position: fixed;
    width: 96%;
    z-index: 1000;
    height: 4%;
    border-bottom: 2px solid #ccc;
    background-color: rgba(255, 255, 255);
    padding: 1% 2%;
}

.messageDiv {
    display: block;
    width: 100%;
    height: 75%;
    overflow-y: auto;
    box-sizing: border-box;
    border: 3px solid gainsboro;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 3%;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5%;
    box-sizing: border-box;
}

.innerInputDiv {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.innerInputDiv input[type="text"] {
    width: 88%;
    height: 100%;
    border: 3px solid gainsboro;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 2%;
    font-size: 15px;
}

.innerInputDiv button {
    height: 100%;
    width: 10%;
    border: 3px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
}

form {
    display: block;
    width: 100%;
    height: 100%;
}

.float-left {
    float: left;
    margin-right: 65%;
}

.float-right {
    float: right;
    clear: right;
}

.float-left, .float-right {
    display: block;
    width: 30%;
    min-height: 2%;
}

p {
    height: fit-content;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 1.5%;
    margin-top: 0;
    margin-bottom: 0.5%;
}

@media screen and (orientation: landscape) {
    .messageDiv {
        width: 70%;
        margin: auto;
    }

    .bodyDiv {
        padding-top: 4%;
    }

    .inputDiv {
        width: 70%;
        margin: auto;
        margin-top: 2%;
    }
}

.deleteForm {
    float: right;
    width: 6%;
}

.deleteButton {
    background-color: transparent;
    border: none;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 5px;
}

.deleteButton:hover {
    opacity: 1;
}

.deleteButton:active {
    background-color: #ccc;
    opacity: 1;
}

.deleteImage {
    max-height: 35px;
    max-width: 35px;
    height: 100%;
    width: 100%;
}

.float-right:hover ~ .deleteForm .deleteButton {
    opacity: 1;
}