html {
    background-image: url("background.jpg");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body {
    display: block;
    height: 95vh;
    margin: 3vh;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(1px);
    border: 2px solid #ccc;
    overflow: hidden;
}

.scrollable-content {
    height: calc(100% - 20px);
    overflow-y: auto;
}

header img {
    height: 100%;
    width: fit-content;
}

header h1 {
    font-size: 24px;
    margin: 0;
}

header img,
header h1 {
    float: left;
}

header .right,
header .left {
    display: block;
    height: 100%;
    width: fit-content;
    background-color: transparent;
    border: none;
}

header .right {
    float: right;
    margin-left: 3%;
}

header .left {
    float: left;
}

header button:first-child {
    margin-right: 10px;
}

.bodyDiv {
    display: block;
    height: 100%;
    width: 80%;
    overflow-y: auto;
    background-color: transparent;
    padding: 5% 10%;
    margin-top: 2vh;
}

header {
    display: block;
    position: fixed;
    width: 96%;
    z-index: 1000;
    height: 4%;
    border-bottom: 2px solid #ccc;
    background-color: rgba(255, 255, 255);
    padding: 1% 2%;
}

.messageDiv {
    display: block;
    width: 100%;
    height: 75%;
    overflow-y: auto;
    box-sizing: border-box;
    border: 1px solid red;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 7.5%;
    box-sizing: border-box;
    border: 1px solid blue;
}

.innerInputDiv {
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.innerInputDiv input[type="text"] {
    width: 88%;
    height: 100%;
    border: 3px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.innerInputDiv button {
    height: 100%;
    width: 10%;
    border: 3px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fff;
    cursor: pointer;
}

form {
    display: block;
    width: 100%;
    height: 100%;
}

.float-left {
    float: left;
    margin-right: 65%;
}

.float-right {
    float: right;
    margin-left: 65%;
}

.float-left, .float-right {
    display: block;
    width: 25%;
    min-height: 2%;
}

p {
    height: fit-content;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 1.5%;
    margin-top: 0;
    margin-bottom: 0.5%;
}