html {
    background-image: url("background.jpg");
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

body {
    display: block;
    width: auto;
    height: 95vh;
    margin: 3vh;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    overflow-y: auto;
    overflow-x: hidden;
}

form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

form div {
    margin-bottom: 10px;
}

.loginBlock > div:first-child {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 10px;
}

.loginBlock input[type="submit"] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5%;
    font-size: 20px;
}

.loginBlock input[type="submit"]:hover {
    background-color: #0056b3;
}

.loginBlock > div:last-child {
    width: 60%;
}

.loginBlock input[type="text"],
.loginBlock input[type="email"],
.loginBlock input[type="password"] {
    display: block;
    width: 80%;
    margin: auto;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 15px;
}

.loginBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 65vh;
    margin: 15vh 25vw 15vh 25vw;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}